.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form.js */

/* form{
    
} */

.form__input{
    width: 200px;
    height: 20px;
}

.form__btn{
    height: 25px;
    width: 30px;
    margin-left: 5px;
}

/* Menu.js */

.menu{
    width: 200px;
    display: flex;
}

/* .menu__list{
    
} */

/* Condiment.js */

.condiment{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: -40px;
    margin-top: 10px;
}

.condiment__list{
    list-style: none;
}

/* .condiment__trash-btn{

} */